* {
    margin: 0px;
    padding: 0px;
  }
#container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100px 300px 300px 30px;
  grid-template-areas: "hoofd hoofd hoofd"
                       "menu midden1 fotos"
                       "menu midden2 fotos"
                       "voet voet voet";

  }
.box {
    min-height: 700px;
}
body{
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;

  
}
#bovenbalk {
  grid-area: hoofd;
  background-color: gray;
  }
header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;}

ul {
    background: var(gray);
    padding: 10px;
  }
  
ul li {
  background: var(darkgray);
  padding: 5px;
  display: inline;
}
  
ul li a {
  color: black;
  text-decoration: none;
  background-color: lightgray;
  
}
  
ul li a:hover {
  color: white;
}
  
  
  #linkerkolom {
    background-color: darkgray;
    grid-area: menu;
  }
  
  #centrum1 {
    background-color: white;
    grid-area: midden1;
  }
  #centrum2 {
    background-color: white;
    grid-area: midden2;
  }
  
  #rechterkolom {
    background-color: darkgray;
    grid-area: fotos;
  }
  #footer {
    grid-area: voet;
    background-color: gray;
  }