* {
    margin: 0px;
    padding: 0px;
  }
#container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100px 300px 300px 30px;
    grid-template-areas: "hoofd hoofd hoofd"
                        "menu midden1 fotos"
                        "menu midden2 fotos"
                        "voet voet voet";

  }
  .box {
    min-height: 700px;
  }
  #bovenbalk {
  grid-area: hoofd;
    background-color: gray;
       
    
  }
  
  #linkerkolom {
    background-color: darkgray;
    grid-area: menu;
  }
  
  #centrum1 {
    background-color: white;
    grid-area: midden1;
  }
  #centrum2 {
    background-color: white;
    grid-area: midden2;
  }
  
  #rechterkolom {
    background-color: darkgray;
    grid-area: fotos;
  }
  #footer {
    grid-area: voet;
    background-color: gray;
  }